<nav class="navbar navbar-expand-lg bg-body-tertiary bg-black">
  <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">Tem Vagas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active text-light" aria-current="page" href="/">Início</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'create-recommendation' %}">Recomende aqui</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active text-light" aria-current="page" href="#">Minhas Recomendações</a>
              </li>
              {% comment %}
              <li class="nav-item">
                  <a class="nav-link disabled text-light" aria-disabled="true">Sair</a>
              </li>
              {% endcomment %}
          </ul>
          <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar imóveis..." aria-label="Search">
              <button class="btn btn-outline-success mx-3" type="submit">Pesquisar</button>
          </form>
          <div class="d-flex gap-3 align-items-center">
              {% if user.is_authenticated %}
                  <span class="nav-text bg-light">
                      {{ user.username }}
                  </span>
                  {% comment %}
                  <a class="btn btn-outline-danger" href="{% url 'logout' %}">Sair</a>
                  {% endcomment %}
                  <a class="btn btn-outline-danger" id="logoutButton" href="#">Sair</a>
                  <script>
                      document.getElementById('logoutButton').addEventListener('click', function(event) {
                          event.preventDefault();

                          // Primeira ação (por exemplo, uma chamada AJAX para a primeira URL)
                          fetch('{% url 'logout' %}')
                          .then(response => {
                              // Lidar com a resposta, se necessário
                              // ...
                              // Em seguida, redirecionar para a segunda URL
                              window.location.href = '{% url 'login' %}';
                          })
                          .catch(error => {
                              console.error('Erro:', error);
                          });
                      });
                  </script>
              {% else %}
                  <a class="btn btn-outline-primary" href="{% url 'login' %}">Entrar</a>
                  <a class="btn btn-success" href="{% url 'register' %}">Registrar</a>
              {% endif %}
          </div>
      </div>
  </div>
</nav>
