{% extends 'base.html' %}
{% block title %}Adicionar Comentário{% endblock %}
{% block content %}
<div class="text-start">
   <div class="card h-100 text-bg-light">
      <div class="card-body">
         <div class="row">
            <!-- Conteúdo do lado esquerdo -->
            <div class="col-md-6">
               <div class="text-center">
                  <img src="{{ imovel.image.url }}" width="350" alt="...">
               </div>
               <figcaption class="figcaption text-center">
                  <h3>{{ imovel.nome }}</h3>
               </figcaption>
               <p class="text-center">Contato: {{ imovel.telefone }}</p>
               <p>Quantidade de Curtidas: <span id="numero_curtidas_{{ imovel.id }}">{{ imovel.curtidas.count }}</span></p>
            </div>
            <!-- Conteúdo do lado direito -->
            <div class="col-md-6">
               <h3 class="lh-1 fw-bold">R$ {{ imovel.valor_aluguel }}</h3>
               <p class="lh-1">Endereço: {{ imovel.endereco }}</p>
               <p class="lh-1">Bairro: {{ imovel.bairro }}</p>
               <p class="lh-1">Cidade: {{ imovel.cidade }}</p>
               <p class="lh-1">Estado: {{ imovel.estado }}</p>
               <p class="lh-1">CEP: {{ imovel.cep }}</p>
               <p class="lh-1">Logradouro: {{ imovel.logradouro }}</p>
               <p class="lh-1">Quartos: {{ imovel.quantidade_quartos }}</p>
               <p class="lh-1">Banheiros: {{ imovel.quantidade_banheiros }}</p>
               <p class="overflow-y-auto">Descrição{{ imovel.descricao }}</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Seção de comentários -->
<div class="mt-4">
   <h3>Comentários</h3>
   <!-- Listar comentários existentes -->
   {% if imovel.comentarios.all %}
   <ul>
      {% for comentario in imovel.comentarios.all %}
      <li>
         <strong>{{ comentario.usuario.username }}</strong>: {{ comentario.texto }}
      </li>
      {% endfor %}
   </ul>
   {% else %}
   <p>Ainda não há comentários. Seja o primeiro a comentar!</p>
   {% endif %}
   <!-- Formulário para adicionar novo comentário -->
   <form method="post" action="{% url 'adicionar-comentario' id=imovel.id %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Adicionar Comentário</button>
   </form>
</div>
{% endblock %}