{% load static %}
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <!-- Coluna 1 -->
            <div class="col-md-4">
                <div class="text-center">
                    <img src="{% static 'images/rapido.png' %}" height="70" alt="Rápido">
                </div>
                <h4 class="mt-3 text-center">Rápido</h4>
                <p class="text-secondary text-center mt-3">Encontre casas disponíveis perto de você e pessoas interessadas em dividir aluguel no Tem Vagas.</p>
            </div>

            <!-- Coluna 2 -->
            <div class="col-md-4">
                <div class="text-center">
                    <img src="{% static 'images/facil.png' %}" height="70" alt="Fácil">
                </div>
                <h4 class="mt-3 text-center">Fácil</h4>
                <p class="text-secondary text-center mt-3">Tenha facilidade e conforto na palma da sua mão com a plataforma Tem Vagas.</p>
            </div>

            <!-- Coluna 3 -->
            <div class="col-md-4">
                <div class="text-center">
                    <img src="{% static 'images/seguro.png' %}" height="70" alt="Seguro">
                </div>
                <h4 class="mt-3 text-center">Seguro</h4>
                <p class="text-secondary text-center mt-3">Asseguramos a segurança das suas informações, protegidas pela nossa equipe no Tem Vagas.</p>
            </div>
        </div>

        <!-- Linha vertical -->
        <hr class="mt-5 mb-5">

        <!-- Rodapé -->
        <div class="row">
            <div class="col text-center">
                <p class="text-muted small">&copy; Tem Vagas 2023. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>