/* Importação da Fonte com Fallback */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Cores e Dimensões */
:root {
    --cor-azul-navbar: #0040A1;
    --cor-verde-destaque: #85FF7A;
}

/* Navbar */
.navbar {
    background: var(--cor-azul-navbar);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 80px; /* Adicione esta linha para padronizar a altura */
}

/* Logo */
.logo {
    width: 73px;
    height: 67px;
}

.navbar div {
    cursor: pointer;
    padding: 0.5em 1em;
}

/* Banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.banner::before,
.banner-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.banner::before {
    background: rgba(0, 0, 0, 0.6);
}

.banner-image {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-text {
    color: white;
    text-align: center;
    z-index: 3;
    padding: 2em;
}

/* Títulos do Banner */
.banner-text h1 {
    font-size: 3em;
    margin: 0.5em 0;
}

.banner-text .highlight {
    color: var(--cor-verde-destaque);
    font-weight: bold;
}

.banner-text p {
    font-size: 1em;
    margin-top: 0.5em;
}

.banner-text .best-solution {
    font-size: 1.5em;
    color: var(--cor-verde-destaque);
    font-weight: bold;
    margin-top: 2em;
}

/* Estilos para telas grandes */
@media (min-width: 992px) {
    .navbar, .logo, .navbar div {
        padding: 0;
    }

    .logo {
        width: 73px;
        height: 67px;
    }

    .navbar div {
        padding: 0.5em 1em;
    }
}

/* Estilos para telas médias */
@media (max-width: 991px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar div {
        padding: 0.5em 0;
    }

    .logo {
        width: 50px;
        height: 46px;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 576px) {
    .navbar {
        padding: 0.5em;
    }

    .navbar div {
        padding: 0.5em 0;
    }

    .logo {
        width: 40px;
        height: 37px;
    }

    .banner-text h1 {
        font-size: 2em;
    }

    .banner-text .best-solution {
        font-size: 1.2em;
        margin-top: 1em;
    }
}

/* Estilos específicos para o Navbar */
.navbar-nav a.nav-link {
    color: white !important; /* Cor padrão para o texto do navbar */
}

.navbar-nav a.nav-link:hover,
.navbar-nav a.nav-link.active {
    background-color: var(--cor-verde-destaque); /* Cor de fundo ao passar o mouse sobre o texto do navbar e para a página ativa */
    color: black !important; /* Cor do texto para o link ativo */
    transition: background-color 0.3s ease;
}
