@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

.navbar {
    background: #0040A1; /* Cor azul conforme a imagem */
    color: white;
    display: flex;
    justify-content: space-between; /* Isso irá distribuir o espaço entre os itens */
    align-items: center; /* Isso irá alinhar os itens verticalmente no centro */
    padding: 0; /* Ajuste de acordo com o espaço necessário */
}

/* Estilos adicionais para a navegação e outros itens da navbar */

.logo {
    width: 73px; /* Largura do logotipo */
    height: 67px; /* Altura do logotipo */
    /* 'position: absolute;' foi removido para permitir que 'flexbox' alinhe o logotipo */
}
.navbar div {
    cursor: pointer;
    padding: 0.5em 1em;
}
/* Estilo para o item ativo no menu */
.navbar .active:hover {
    color: #85FF7A; /* Cor verde para o item ativo */
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Aumenta a escuridão da sobreposição */
    z-index: 2; /* Certifique-se de que o z-index está acima da imagem do banner */
}
.banner-image {
    width: 100vw; /* Garante que a largura seja a da viewport */
    height: 80vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Imagem por trás da sobreposição */
}
.banner-text {
    color: white;
    text-align: center;
    z-index: 2; /* Garante que o texto esteja acima da sobreposição */
    padding: 2em;
}
.banner-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Sobreposição acima da imagem, mas abaixo do texto */
}
/* Subtítulo do banner */
/* Título principal do banner */
.banner-text h1 {
    font-size: 3em;
    margin: 0.5em 0;
}
/* Palavras destacadas no título */
.banner-text .highlight {
    color: #85FF7A; /* Cor verde conforme a imagem */
    font-weight: bold;
}
/* Texto adicional no banner */
.banner-text p {
    font-size: 1em;
    margin-top: 0.5em;
}
/* Estilo para 'A Melhor Solução' */
.banner-text .best-solution {
    font-size: 1.5em;
    color: #85FF7A;
    font-weight: bold;
    margin-top: 2em;
}
